apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - namespace.yaml
  - ingress.yaml
configMapGenerator:
  - name: rabbitmq-definitions
    files:
    - definitions.json
namespace: hxckr-prod
patches:
  - path: server-patch.yaml
  - path: softserve-patch.yaml
patchesStrategicMerge:
  - job-queue.yaml